.status-bar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.sold-out{
	position: absolute;
	top: 50%;
	left: 50%;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 80px;
	height:80px;
	line-height: 80px;
	border-radius: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
	font-size: 14px;

}
[v-cloak]{
	display: none;
}

.tanchuang-box{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
}
.tanchuang-mask{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
}
.tanchuang-content{
	position: absolute;
	left: 50%;
	right: 0;
	top: 50%;
	z-index:5;
	width: 80%;
	border-radius: 5px;
	transform: translate(-50%,-50%);
}
.tanchuang-content-text{
	background: #fff;
}
.tanchuang-content-title{
	padding: 10px 0;
	font-size: 24px;
	font-weight: 700;
	color: #333;
	border-bottom: 1px solid #f5f5f5;
	text-align: center;
}
.tanchuang-content-msg{
	min-height: 50px;
	padding: 20px 10px;
	color: #333;
	line-height: 1.5;
	font-size: 14px;
	text-align: left;
}
.tanchuang-content-button{
	border-top: 1px solid #f5f5f5;
	padding: 15px 0;
	text-align: center;
	background: #4d85f9;
	color: #fff;
	font-size: 18px;
	border-radius: 0 0 5px 5px;
}
.tanchuang-content-img{
	width: 100%;
	border-radius: 5px;
}
.message-count{
	position: absolute;
	top: -10px;
	right:20px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: red;
	color: #fff;
	border-radius: 50%;
}

/*微信登录*/
.wx-login{ position: fixed; left: 0; right: 0; top: 0; bottom: 0;}
.wx-logospcing{ height: 4.0rem; }
.wx-login-logo{ width: 2.16rem; height: 2.16rem; margin: 0 auto; }
.wx-login-logo img{ width: 100%; height: 100%; display: block; }
.wx-login-btn{ display: flex; align-items: center; justify-content: center;background-image: linear-gradient(to right, #ff6446, #f04343); width: 80%; margin: 4.0rem auto 1.33rem; height: 1.33rem; font-size: 0.43rem; color: #fff; border-radius: 0.67rem;  }
.wx-login-wximg{ width: 0.53rem; height: 0.53rem; display: block; padding-right: 0.13rem; }

.wx-login-zc{ margin-top: 7.33rem; }
.wx-login-newzc{ font-size: 0.37rem; color: #2e3440; text-align: center; }
.wx-login-zcxy{ font-size: 0.32rem; color: #ccd3e1; text-align: center; padding-top: 0.27rem; }
.wx-login-zcxyxx{ color: #888f9f; font-size: 0.32rem; font-weight: bold; }

.login-conn-dl-zc{ font-size: 0.37rem; color: #939393; text-align: center;}

.login-conn-dl-zc img{
	margin: 10px 0;
	width: 50px;
	height: 50px;
}


.share-body {

}

.share-body-mask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.share-content{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: #fff;
	border-radius: 0.21rem 0.21rem 0 0;
	display: none;
}
.share-body-title{

	margin-top: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}


.share-box{
	display: flex;
	padding: 10px;
}
.share-item{
	flex: 1;
	text-align: center;
	line-height: 1.5;

}
.share-item .img{
	width: 40px;
}
.share-item .share-title{
	text-align: center;
	margin-top: 10px;
}

.goods-content{ padding: 0.4rem; }
.goods-content ul{ display: flex; flex-wrap: wrap; justify-content: space-between;}
.goods-content li{ width: 48%; padding-bottom: 0.43rem; }
.goods-content-lb{ border: #e7e7e7 1px solid; border-radius: 0.2rem; }
.goods-content-lb-img{ width: 100%; height: 4.2rem; position: relative;}
.goods-content-lb-img img{ width: 100%; height: 100%; display: block; object-fit: cover; border-radius: 0.2rem 0.2rem 0 0; }
.goods-content-text{ padding: 0.27rem; }
.goods-content-text-bt{ font-size: 0.37rem; color: #333333; line-height: 0.53rem; height: 1.07rem; overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;/*想显示多少行就给多大值*/
-webkit-box-orient: vertical;}
.goods-content-text-price{ font-size: 0.4rem; color: #ed4f52; font-weight: bold; padding-top: 0.13rem; }

.goods-content-text-price2{font: 12px;color: #ed4f52;}


.r_tit {
	position: fixed;
	width: 100%;
	z-index: 9999;
	top: 0;
}
.r_titnr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	padding: 0.27rem 0;
}
.s_titnr {
	position: relative;
	padding: 0.27rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.gg {

	/* width: 9.2rem; */
	margin-left: 0.4rem;
	margin-right: 0.4rem;
}
.r_titl {
	position: absolute;
	left: 0
}
.r_titltp {
	height: 0.53rem;
}

.r_titm {
	flex: 1;
	text-align: center;
}
.empty-box{
	color: #aaa;
	font-size: 14px;
	margin:30% auto;
	height: 24px;
	width: 150px;
	background: url(../icon/boxnone.png) no-repeat top center;
	padding-top: 68px;
	background-size: 65px;
	text-align: center;
}
