<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>七彩首页</title>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <script src="../script/swiper.min.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../script/common.js"></script>

  </head>
  <body>
    <div id="app" v-cloak>
      <top-bar :bg="active.bg"></top-bar>
      <!-- 轮播图 -->

      <div class="inban" style="position:relative;">
        <div style="position:absolute;width:100%;height:120px;border-radius:0 0 200% 200%;top:0;" :style="{background:active.bg}"></div>
        <div class="swiper-container gg" id='banner'>
          <div class="swiper-wrapper">
            <div class="swiper-slide" v-for="banner in banners">
              <img :src="tImage(banner.thumb)" style="height:150px;">
            </div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>

      </div>
      <!-- 公告 -->
      <div class="gg">
        <div class="xwgg">
          <div class="lb">
            <img class="gggdt" src="../image/gglb.png">
          </div>
          <div class="ggnr f28">
            <div class="swiper-container" id="gonggao" style="height:20px;">
              <div class="swiper-wrapper">
                <div class="swiper-slide" v-for="gonggao in gonggaos">
                  {{gonggao.article_title}}
                </div>
              </div>

            </div>

          </div>
          <div class="gggd">
            更多<img  src="../image/hjt.png">
          </div>
        </div>
      </div>
      <!-- 主导航 -->
      <div class="in_zdh">
        <div class="in_zdhli">
          <img class="in_cpfl" src="../image/qctb.png">
          <div class="f24 in_zdhwz">七彩</div>
        </div>
        <div class="in_zdhli">
          <img class="in_cpfl" src="../image/jftb.png">
          <div  class="f24 in_zdhwz">积分</div>
        </div>
        <div class="in_zdhli">
          <img class="in_cpfl" src="../image/zbtb.png">
          <div  class="f24 in_zdhwz">直播</div>
        </div>
        <div class="in_zdhli">
          <img class="in_cpfl" src="../image/xytb.png">
          <div  class="f24 in_zdhwz">学院</div>
        </div>
        <div class="in_zdhli">
          <img class="in_cpfl" src="../image/dfwtb.png">
          <div  class="f24 in_zdhwz">大富翁</div>
        </div>
      </div>
      <!--积分商品-->
      <div class="sc_tmhh gg">
        <div class="in_jfsck">
          <div class="sc_tmhh_bt">
            <div class="sc_tmhh_btz f32">积分商品</div>
            <div class="sc_tmhh_bty f24">查看更多 <img class="sc_tmhhjt" src="../image/bjt.png"></div>
          </div>
          <div class="sc_tmhh_nr">
            <div class="sc_tmhh_li">
              <img class="sc_tmhh_lit" src="../image/cpt.png">
              <div class="sc_tmhh_liwz f28 ">缤纷田园树莓一2箱500g…</div>
              <div class="sc_tmhh_lijg csz f30 zys">30积分</div>
            </div>
            <div class="sc_tmhh_li">
              <img class="sc_tmhh_lit" src="../image/cpt.png">
              <div class="sc_tmhh_liwz f28">缤纷田园树莓一2箱500g…</div>
              <div class="sc_tmhh_lijg csz f30 zys">30积分</div>
            </div>
            <div class="sc_tmhh_li">
              <img class="sc_tmhh_lit" src="../image/cpt.png">
              <div class="sc_tmhh_liwz f28">缤纷田园树莓一2箱500g…</div>
              <div class="sc_tmhh_lijg csz f30 zys">30积分</div>
            </div>
          </div>
        </div>
      </div>
      <!-- 优选好货 -->
      <div class="in_yx">
        <div class="in_yxs">
          <div class="in_ysbt gg">
            <div class="in_ysbtz f34">短视频</div>
            <div class="in_ysbty qhsz">更多<img class="hjt" src="../image/hjt.png"></div>
          </div>
        </div>
        <div class="in_yxx">
          <div class="gg in_yxxnr">
            <div class="in_yxli">
              <img class="in_yxlit" src="../image/dsptp.png">
              <div class="in_yxlibt f28">快速学习企业管理的正确打开方式</div>
              <div class="in_yxlijg f22 qhsz">10万人已学</div>
            </div>
            <div class="in_yxli">
              <img class="in_yxlit" src="../image/dsptp.png">
              <div class="in_yxlibt f28">快速学习企业管理的正确打开方式</div>
              <div class="in_yxlijg f22 qhsz">10万人已学</div>
            </div>
            <div class="in_yxli">
              <img class="in_yxlit" src="../image/dsptp.png">
              <div class="in_yxlibt f28">快速学习企业管理的正确打开方式</div>
              <div class="in_yxlijg f22 qhsz">10万人已学</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

    <script>
    apiLoad=function(callback){
      var vm=new Vue({
        el:"#app",
        data(){
          return {
            userInfo:{},
            active:{},
            banners:[],
            gonggaos:[],
            gonggaoSwiper:null
          }
        },
        methods:{
          init(){
            ajax('ud').then(res=>{
              this.banners=res.advs;
              this.active=this.banners[0];
              this.gonggaos=res.gonggaos;
              this.$nextTick(()=>{
                this.initSwiper();
              })
            })
          },
          initSwiper(){
            new Swiper('#banner', {
              slidesPerView: 1,
              spaceBetween: 10,
              loop: true,
              autoplay: {
                delay: 3000,
                stopOnLastSlide: false,
                disableOnInteraction: false,
              },
              observer:true,
              pagination: {
                el: '.swiper-pagination',
                clickable: true,
              },
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
              },
              on:{
                slideChangeTransitionStart:function(){
                  if(vm&&vm.banners&&vm.banners.length>0){
                    var idx=Math.abs((this.activeIndex-1)%vm.banners.length);
                    vm.active=vm.banners[idx];
                  }
                },
                tap(){
                  if(vm&&vm.banners&&vm.banners.length>0){
                    var idx=Math.abs((this.activeIndex-1)%vm.banners.length);
                    vm.jumpInterface(vm.banners[idx].window);
                  }
                }
              }
            });
            new Swiper('#gonggao', {
              slidesPerView: 1,
              direction: 'vertical',
              spaceBetween: 0,
              loop: true,
              observer:true,
              observeParents:true,
              autoplay: {
                delay: 2000,
                stopOnLastSlide: false,
                disableOnInteraction: false,
              },
              on:{
                tap(){
                  var idx=Math.abs((this.activeIndex-1)%vm.gonggaos.length);
                  var article=vm.gonggaos[idx];
                  vm.interfaceArticle(article.id,article.article_title);
                }
              }
            });
          }
        },
        mounted(){
          this.init();
        }
      });

    }
    </script>
  </html>
