<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>七彩券</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../script/common.js"></script>

</head>

<body>
    <div style="background-color: #f8f8f8; min-height: 100%; " id='app' v-cloak>
        <div class="qcq_bg">
            <div class="qcq_bgwz f28">可用七彩券</div>
            <div class="qcq_bgsz f40">{{parseFloat(userInfo.credit3)||0}}</div>
        </div>
        <div class="qcq_tab">

            <div class="qcq_tabli" @click="fnStatus(k)" v-for="(v,k) in statusObj">
                <div class="qcq_tabliwz f28" :class="{qcq_dq:status==k}">{{v}}</div>
                <div class="qcq_tablihx" v-if="status==k"></div>
            </div>
        </div>
        <div class="qcqnr gg">
            <div v-for="detail in list">
                <div v-if="status==1" class="qcqnrli2">
                    <div class="qcqnrliz">
                        <div class="qcqnrlizs"><span class="qcqnrlizsje">{{-parseFloat(detail.num)||0}}</span></div>
                        <div class="qcqnrlizx2 f22">已使用</div>

                    </div>
                    <div class="qcqnrliy">
                        <div class="qcqnrliymz f30"> 七彩券</div>
                        <div class="qcqnrliyyxq f24 qhsz"> 使用时间：{{date("Y-m-d",detail.createtime)}}</div>
                        <div class="qcqnrliyfw  f24 qhsz"> 适用范围：集市</div>
                    </div>

                </div>
                <div v-else :class="{qcqnrli:detail.status==0,qcqnrli2:detail.status!=0}" @click="interfaceGoodsList({qcq:1})">
                    <div class="qcqnrliz">
                        <div class="qcqnrlizs"><span class="qcqnrlizsje">{{parseFloat(detail.num)||0}}</span></div>
                        <div class="qcqnrlizx f22" v-if="detail.status==0">立即使用</div>
                        <div class="qcqnrlizx2 f22" v-else-if="detail.status==1">已使用</div>
                        <div class="qcqnrlizx2 f22" v-else>已失效</div>
                    </div>
                    <div class="qcqnrliy">
                        <div class="qcqnrliymz f30"> 七彩券</div>
                        <div class="qcqnrliyyxq f24 qhsz"> 有效期：{{date("Y-m-d",detail.create_time)}}—{{date("Y-m-d",detail.end_time)}}</div>
                        <div class="qcqnrliyfw  f24 qhsz"> 适用范围：集市</div>
                    </div>
                    <div v-if="detail.status==-1" class="qcq_sxt"><img class="qcq_sxtt" src="../image/ysx.png"></div>
                </div>
            </div>

            <div style="height:50px;"></div>
        </div>

    </div>
    <script type="text/javascript">
        apiLoad = function(callback) {
            var vm = new Vue({
                el: "#app",
                data: function() {
                    return {
                        userInfo: {},
                        url: 'ud.member.qcq',
                        status: 0,
                        statusObj: {
                            '0': '未使用',
                            '1': '已使用',
                            '-1': '已过期'
                        }
                    }
                },
                mixins: [list],
                methods: {
                    fnStatus(status) {
                        this.status = status;
                        this.refresh()
                    },

                    getParams() {
                        return {
                            page: this.page,
                            status: this.status
                        }
                    }

                },
                mounted() {
                    ajax('ud.member').then(res => {
                        this.refresh();
                    })
                }

            });
            callback(vm);
        }
    </script>
</body>

</html>
