<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>任务中心</title>

    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="../script/common.js"></script>

  </head>

  <body>
    <div style="background-color: #f7f7f7;min-height: 100%;" id='app' v-cloak>
      <div class="rw_s">
        <div class="rw_snr gg">
          <div class="rw_syh">
            <div class="rw_syhz"><img class="rw_syhzt" :src="tImage(userInfo.avatar)"></div>
            <div class="rw_syhy">
              <div class="rw_syhymc f28">{{userInfo.nickname}}</div>
              <div class="rw_syhyjb f22">{{userInfo.level_name}}</div>
            </div>
          </div>
          <div class="bsx gg"></div>
          <div class="rw_ssj">
            <div class="rw_ssjz rw_ssjzx">
              <div class="rw_ssjzsz">{{parseFloat(userInfo.credit10)||0}}</div>
              <div class="rw_ssjzmz f28">我的成长值</div>
            </div>
            <div class="rw_ssjz">
              <div class="rw_ssjzsz">{{parseFloat(userInfo.credit8)||0}}</div>
              <div class="rw_ssjzmz f28">我的额度</div>
              <img class="rw_smt" src="../image/shuoming.png" @click="show=true">
            </div>
          </div>
        </div>
      </div>
      <div class="rw_qd gg" @click="interfaceQd()">
        <div class="rw_qdbt">
          <div class="rw_qdbtz f32">每日签到</div>
          <div class="rw_qdbty f22 qhsz">已连续签到<div class="rw_qdbtyys">{{signInfo.orderday}}</div>天</div>
        </div>
        <div class="rw_qdnr">
          <div class="rw_qdnrli" v-for="week in calendar">
            <img class="rw_qdnrlit" src="../image/yqd.png" v-if="week.signed>0">
            <img class="rw_qdnrlit" src="../image/qd.png" v-else>
            <div class="rw_qdsd f26" v-if="week.credit>0">+{{week.credit}}</div>
            <div class="rw_zj">{{week.week}}</div>
          </div>

        </div>
      </div>
      <div class="rw_xsrw gg" v-if="new_task&&new_task.items.length>0">
        <div class="rw_xsrwbt f32">{{new_task.title}}</div>
        <div class="rw_xsrwnr">
          <div class="rw_xsrwnrli" v-for="item in new_task.items">
            <div class="rw_xsrwnrliz f22 qhsz">
              <div class="rw_xsrwnrlizs f28">{{item.title}}</div>
              {{item.des}}
            </div>
            <div class="rw_xsrwnrliy" @click="jumpInterface(item.interface)">去完成</div>

          </div>

        </div>
      </div>
      <div class="rw_xsrw gg" v-if="day_task&&day_task.items.length>0">
        <div class="rw_xsrwbt f32">{{day_task.title}}</div>
        <div class="rw_xsrwnr">
          <div class="rw_xsrwnrli" v-for="item in day_task.items">
            <div class="rw_xsrwnrliz f22 qhsz">
              <div class="rw_xsrwnrlizs f28">{{item.title}}</div>
              {{item.des}}
            </div>
            <div class="rw_xsrwnrliy" @click="jumpInterface(item.interface)">去完成</div>
          </div>

        </div>
      </div>
      <div class="kc"></div>
      <tanchuang :msg=detail.des v-show="show" @ok="show=false" @cancel="show=false"></tanchuang>
    </div>
    <script type="text/javascript">
      apiLoad=function(callback){
        var vm=new Vue({
          el:"#app",
          data(){
            return {
              userInfo:getUserInfo(),
              signInfo:{},
              calendar:[],
              day_task:null,
              new_task:null,
              detail:{},
              show:false

            }
          },
          methods:{
            init(){
              ajax('ud.task').then(res=>{
                this.detail=res;
                this.signInfo=res.signinfo;
                this.calendar=res.calendar;
                this.day_task=res.day;
                this.new_task=res.new;
              })
              ajax('ud.member')
            }
          },
          mounted(){
            this.init();
            api.addEventListener({
                name: 'sign-success'
            }, function(ret, err){
                this.init();
            }.bind(this));
            refresh(function(){vm.init()});

          }
        });
        callback(vm);
      }
    </script>
  </body>
</html>
