<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>学院派</title>
    <link rel="stylesheet" href="../css/swiper.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../script/swiper.min.js"></script>
    <script src="../script/common.js"></script>

  </head>
  <body>
    <div id="app" v-cloak>
      <div class="gg sxy_ssk"><form action="" class="sc_tjbd">
        <input type="text" class="sxy_ss" placeholder="请输入搜索关键字">
        <img class="sc_fdj" src="../image/fdj.png">
      </form></div>


      <!-- 轮播图 -->
      <div class="sxyban gg">

        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide qcscbant" v-for="banner in banners">
              <img :src="tImage(banner.thumb)">
            </div>

          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <!--分类-->
      <div class="sxy_fl gg">
        <div class="sc_rmcpbt">
          <div class="sc_rmcpbtnr">
            <div class="sc_rmcpbtli" :class="{sc_rmcpbtlih:category_id==0}" @click="selectCategory(0)">
              推荐
              <div class="sc_rmcpbtlix" v-if="category_id==0"></div>
            </div>
            <div class="sc_rmcpbtli" :class="{sc_rmcpbtlih:category_id==category.id}"v-for="category in categories" @click="selectCategory(category.id)">
              {{category.category_name}}
              <div class="sc_rmcpbtlix" v-if="category_id==category.id"></div>
            </div>
          </div>

        </div>
      </div>
      <div class="sc_rmcpk">
        <div class="gg in_yxxnr sc_rmcpknr">
          <videoItem v-for="video in list" :video=video :key="video.id"></videoItem>


        </div>
      </div>
    </div>
    <script type="text/javascript">
      apiLoad=function(callback){
        var vm=new Vue({
          el:"#app",
          data(){
            return {
              banners:[],
              categories:[],
              category_id:0,
              url:'ud.video.get_list'
            }
          },
          mixins: [list],
          methods:{
            getParams(){
              return {page:this.page,category_id:this.category_id}
            },
            selectCategory(id){
              this.category_id=id;
              this.refresh();
            },

            init(){
              ajax('ud.video').then(res=>{
                this.categories=res.categories;
                this.banners=res.banners;
                this.$nextTick(()=>{
                  this.initSwiper();
                });
                this.refresh();
              })
            },
            initSwiper(){
              new Swiper('.swiper-container', {
                slidesPerView: 1,
                spaceBetween: 10,
                loop: true,
                autoplay: {
                  delay: 3000,
                  stopOnLastSlide: false,
                  disableOnInteraction: false,
                },
                observer:true,
                pagination: {
                  el: '.swiper-pagination',
                  clickable: true,
                },
                navigation: {
                  nextEl: '.swiper-button-next',
                  prevEl: '.swiper-button-prev',
                },
                on:{
                  slideChangeTransitionStart:function(){
                    if(vm&&vm.banners&&vm.banners.length>0){
                      var idx=Math.abs((this.activeIndex-1)%vm.banners.length);
                      vm.active=vm.banners[idx];
                    }
                  },
                  tap(){
                    if(vm&&vm.banners&&vm.banners.length>0){
                      var idx=Math.abs((this.activeIndex-1)%vm.banners.length);
                      vm.jumpInterface(vm.banners[idx].link);
                    }
                  }
                }
              });
            }
          },
          mounted(){
            this.init();
          }
        });
      }
    </script>
  </body>
  </html>
