<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>提现记录</title>
    <script src="../script/common.js"></script>
    <link rel="stylesheet" href="../css/style_ud.css">
    <style media="screen">
      .red{
        color: #ff5555;
      }
    </style>

  </head>

  <body>


    <section class="bsbj" id="app" style="background:none;">
      <ul class="udgmjlk">
        <li v-for="item in list" style="background:#fff;padding:0.2rem 0.4rem;border-bottom:none;margin-top:10px;">
          <div style="border-bottom:1px solid #efefef;padding-bottom:0.2rem;">
            <div class="udgms">
              <div class="udgmsz f28">提现到{{item.typestr}}</div>
              <div class="udgmsy f30"><span>+</span>{{item.money}}元</div>
            </div>
            <div class="udgmx f22">
              <div>{{item.createtime}}</div>
              <div v-if="item.status==0" style="color:#ff8000">申请中</div>
              <div v-if="item.status==1" style="color:green">提现成功</div>
              <div v-if="item.status==-1" style="color:#ff5555">提现失败</div>
            </div>
          </div>
          <div style="padding:10px 0;">
            实际到账：{{item.realmoney}}元   <span style="margin-left:10px;">手续费：{{item.deductionmoney}}元</span>
          </div>
        </li>

      </ul>
      <div class="is_end" v-show="list.length>0&&isEnd">没有更多了</div>
      <div class="empty-box" v-show="list.length==0&&isEnd">暂无数据</div>
    </section>
    <script type="text/javascript">
      apiLoad=function(){
        var vm=new Vue({
          el:"#app",
          data:function(){
            return {
              list:[],
              page:1,
              isEnd:false,
              isLoading:false,
              type:1
            }
          },
          methods:{
            init:function(){
              this.fnRefresh();
            },
            fnRefresh:function(){
              this.page=1;
              this.isEnd=false;
              this.list=[];
              this.fnList();
            },
            fnList:function(){
              if(this.isEnd||this.isLoading)return;
              ajax('ud.log.get_list',{page:this.page,type:this.type}).then(res=>{
                this.list=merge_list(this.list,res.list);
                this.isEnd=res.isEnd;
                this.page+=1;
              })
            }

          },
          created:function(){
            this.init();
            scrollToBottom(function(){
              this.fnList();
            }.bind(this));
            refresh(function(){
              this.fnRefresh();
            }.bind(this));

          }
        });
      }
    </script>
  </body>
</html>
