<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <title>升级</title>
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../script/common.js"></script>
    <script src="../script/swiper-bundle.min.js"></script>
    <style>
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      width: 90%;
    }
    .swiper-slide:nth-child(2n) {
      width: 90%;
    }
    .swiper-slide:nth-child(3n) {
      width: 90%;
    }
    .vipsj2 {
    	position: relative;
    	color: #863d0d;
    	height: 1.17rem;
    	width: 8.83rem;
    	background-image: linear-gradient(#f2d9bb, #ddb075);
    	line-height: 1.17rem;
    	text-align: center;
    	border-radius: 0.67rem;
    	z-index: 99999;
      margin: 30px auto;
    }
    </style>
  </head>
  <body>
    <div style="background-color: #181818; min-height: 100%;" id="app" v-cloak>
      <title-bar title='会员升级' bg="#181818">
        <div class="r_titl" slot='right' onclick="api.closeWin()"><img class="r_titltp" src="../image/bfh.png"></div>
      </title-bar>

      <div class="vips">
        <div class="vip_stx">
          <img class="vip_stxt" :src="tImage(userInfo.avatar)">
        </div>
        <div class="vip_sxx">
          <div class="vip_sxxz f30">{{userInfo.nickname}}</div>
          <div class="vip_sxxy">
            <img class="vip_sxxyt" src="../image/jbptdz.png">
          </div>
        </div>
        <div class="vip_sjbk">
          <div class="vip_sjb f24">{{userInfo.level_name}}</div>
        </div>
      </div>
      <!-- Swiper -->
      <div class="swiper-container vipswiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" v-for="(level,idx) in levels">
            <img class="vip_sw" :src="tImage(level.level_icon)">
            <div class="vip_qy">
              <div class="vip_sds"><img class="vip_sdst" src="../image/jsd1.png"></div>

              <div class="vip_qybt f30">{{level.levelname}}权益</div>
              <div class="vip_qybtnr">
                <div class="vip_qybtbg f30 vip_qyp" v-html="level.level_des"></div>
              </div>
              <div class="vipd"><img class="vip_dt" src="../image/vipd.png"></div>
            </div>
            <div class="vip_sjtj" v-if="level.last_count>0">
              <div class="vip_sjtjbt f30">做任务升级</div>
              <div class="vip_sjtjnr">
                <div class="vip_sjtjnrz">
                  <div class="vip_sjtjnrzs f22">累计推荐有效{{levels[idx-1].levelname}}</div>
                  <div class="vip_sjtjnrzx">
                    <div class="vip_sjtjnrzxz">
                      <div class="vip_sjtjnrzxznr" :style="getWidth(level.has_last_count,level.last_count)"></div>
                    </div>
                    <div class="vip_sjtjnrzxy f22">{{level.has_last_count}}/<span class="qhsz">{{level.last_count}}</span></div>
                  </div>
                </div>
                <div class="vip_sjtjnry f28">去完成</div>
              </div>
            </div>
            <div class="vipsj2 f30" v-if="level.level_interface" @click="jumpInterface(level.level_interface)">
              立即升级
            </div>
          </div>

        </div>
        <!-- Add Pagination -->
        <!--  <div class="swiper-pagination"></div> -->
      </div>
      <!-- Swiper JS -->

      <!-- Initialize Swiper -->

    </div>
  </body>
  <script type="text/javascript">
    apiLoad=function(callback){
      var vm=new Vue({
        el:"#app",
        data(){
          return {
            userInfo:getUserInfo(),
            levels:[]
          }
        },
        methods:{
          getWidth(fz,fm){
            var percent=(fz/fm)*100;
            return{
              width:(fz>=fm?100:percent)+'%'
            }
          },
          init(){
            ajax('ud.member.level').then(res=>{
              this.levels=res;
              this.$nextTick(()=>{
                var swiper = new Swiper('.swiper-container', {
                    slidesPerView: 'auto',
                    centeredSlides: true,
                    spaceBetween: 10,
                    pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                  },
                });
              })
            })
          }
        },
        mounted(){
          this.init();

        }
      });
      callback(vm);

    }
  </script>

</html>
